.aboutUsMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.aboutUsHeading {
  display: flex;
  align-items: flex-start;
  padding: 0vh 0px 5vh 0vw;
  flex-direction: column;
  margin-top: 10vh;
  width: 100vw;
  height: 30vh;
  background-size: cover;
  color: white;
}
.aboutUsImage {
  height: 30vh;
  width: 100vw;
}
.contentContianer {
  background-color: white;
  height: auto;
  width: 100vw;
  color: black;
  margin-top:12vh;
}

li {
  list-style: circle;
  text-align:'justify';
}

p{
  text-align:"justify";
}
