.paymentsMainContainer{
    height: 100vh;
    background: #141414;
    color: white;
    position: relative;
}
.PaymentsformContainer{
    width: 45vw;
    height: 80vh;
    background: #141414;
    margin: auto;
    border: 1px solid white;
    position: absolute;
    top: 15vh;
    left: 30vw;
    overflow: auto;
    padding:1vw ;
    
}
.formHeadContainer{
    display: flex;
    
}
.designhr{
    width: 5vw;

}
.paymentDetailsContainer{
    margin: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.PaymentInputContainer{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.PaymentInputContainer input{
    margin: .25vw 0 .5vw 0   ;
}
.paymentExpDate{
    display: flex;
}
.paymentExpDate input{
    width: 80px;
}