/*large*/
@media screen and (min-width: 1001px) {
  .reactModalClassName {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    background: #222222;
    outline: none;
    /* padding: 20px; */
    color: white;
    height: 80vh;
    box-sizing: content-box;
    border-style: solid;
  border-width: 10px;
  border-image: linear-gradient(45deg, #c200c9, #93f8ff) 2;
  }
  .reactModalOverlay {
    position: fixed;
    top: 10vh;
    left: 30vw;
    right: 0;
    bottom: 5vh;
    width: 45vw;
    z-index: 1;
    /* overflow: auto; */
    border-radius: 2.5vh;
    /* background-image: linear-gradient(to bottom, #d403a7, transparent); */
  }
  .ModalCloseBtn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    font-size: 2vw;
    color: #969696;
  }
  .ModalCloseBtn:hover {
    color: white;
  }
  .form-heading-Container {
    justify-self: center;
    margin-left: 5%;
    width: 40vw;
  }
  .registrationForm {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: flex-start;
    padding: 5%;
    justify-content: center;
  }
  .inputContainer {
    display: flex;
    width: 200px;
    margin: 1vw;
    flex-direction: column;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    border: 2px solid #aaa6a6;
  }
  input:focus {
    outline: none;
    box-shadow: 0px 0px 9px 0px #0084ff;
  }
  .selectContainer {
    display: flex;
    width: 200px;
    padding: 0vh 0vh 1vh 1vh;
    margin: 1vw;
    flex-direction: column;
  }
  .submitButton {
    background-color: #a00486;
    border: none;
    color: white;
    padding: 1vw 2vw 1vw 2vw;
    margin: 1vh 0vh 0vh 0vh;
    border-radius: 10px;
    transition: background-color 300ms;
  }

  .successButton {
    background-color: #05ff3b;
    border: none;
    color: #050000;
    padding: 1vw 2vw 1vw 2vw;
    margin: 1vh 0vh 0vh 0vh;
    border-radius: 10px;
  }
  .submitButton:hover {
    background-color: #3da5fa;
  }
  select:focus {
    outline: none;
    box-shadow: 0px 0px 9px 0px #00b7ff;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .reactModalClassName {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #c2c2c2;
    overflow: auto;
    outline: none;
    padding: 20px;
    border-radius: 1vw;
    color: white;
    box-shadow: 0px 0px 2px 1px silver;
  }
  .reactModalOverlay {
    position: fixed;
    top: 10vh;
    left: 10vw;
    right: 0;
    bottom: 0;
    width: 80vw;
    height: 80vh;
    background-color: transparent;
  }
  .ModalCloseBtn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    font-size: 5vw;
    color: #969696;
  }
  .ModalCloseBtn:hover {
    color: white;
  }
  .registrationForm {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: flex-start;
    padding: 1%;
    justify-content: center;
  }
  .inputContainer {
    display: flex;
    width: 280px;
    margin: 0.6vh;
    flex-direction: column;
    font-size: 2.4vw;
  }
  .selectContainer {
    display: flex;
    width: 280px;
    padding: 0vh 0vh 1vh 1vh;
    margin: 1vw;
    flex-direction: column;
  }
  .submitButton {
    background-color: #ff3705;
    width: 280px;
    border: none;
    color: white;
    padding: 1vw 2vw 1vw 2vw;
    margin: 1vh 0vh 0vh 0vh;
    border-radius: 10px;
    transition: background-color 300ms;
  }
  .successButton {
    background-color: #05ff65;
    width: 280px;
    border: none;
    color: black;
    padding: 1vw 2vw 1vw 2vw;
    margin: 1vh 0vh 0vh 0vh;
    border-radius: 10px;
  }
  .submitButton:hover {
    background-color: #3da5fa;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .reactModalClassName {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #c2c2c2;
    overflow: auto;
    outline: none;
    padding: 20px;
    border-radius: 1vw;
    color: white;
    box-shadow: 0px 0px 2px 1px silver;
  }
  .reactModalOverlay {
    position: fixed;
    top: 5vh;
    left: 10vw;
    right: 0;
    bottom: 0;
    width: 80vw;
    height: 90vh;
    background-color: transparent;
  }
  .ModalCloseBtn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    font-size: 6vw;
    color: #969696;
  }
  .ModalCloseBtn:hover {
    color: white;
  }
  .registrationForm {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: flex-start;
    padding: 1%;
    justify-content: center;
  }
  .inputContainer {
    display: flex;
    width: 280px;
    margin: 1vw;
    flex-direction: column;
    font-size: 4vw;
  }
  .selectContainer {
    display: flex;
    width: 280px;
    padding: 0vh 0vh 1vh 1vh;
    margin: 1vw;
    flex-direction: column;
  }
  .submitButton {
    background-color: #ff3705;
    border: none;
    color: white;
    padding: 1vw 2vw 1vw 2vw;
    margin: 1vh 0vh 0vh 0vh;
    border-radius: 10px;
    transition: background-color 300ms;
  }
  .successButton {
    background-color: #61fc4d;
    border: none;
    color: black;
    padding: 1vw 2vw 1vw 2vw;
    margin: 1vh 0vh 0vh 0vh;
    border-radius: 10px;
  }
  .submitButton:hover {
    background-color: #3da5fa;
  }
}

@media screen and (max-width: 400px) {
  .reactModalClassName {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #c2c2c2;
    overflow: auto;
    outline: none;
    padding: 10px;
    border-radius: 1vw;
    color: white;
    box-shadow: 0px 0px 2px 1px silver;
  }
  .reactModalOverlay {
    position: fixed;
    top: 5vh;
    left: 10vw;
    right: 0;
    bottom: 0;
    width: 80vw;
    height: 90vh;
    background-color: transparent;
  }
  .ModalCloseBtn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    font-size: 6vw;
    color: #969696;
  }
  .ModalCloseBtn:hover {
    color: white;
  }
  .registrationForm {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: flex-start;
    padding: 1%;
    justify-content: center;
  }
  .inputContainer {
    display: flex;
    width: 260px;
    margin: 1vw;
    flex-direction: column;
    font-size: 5vw;
  }
  .selectContainer {
    display: flex;
    width: 260px;
    padding: 0vh 0vh 1vh 1vh;
    margin: 1vw;
    flex-direction: column;
  }
  .submitButton {
    background-color: #ff3705;
    border: none;
    color: white;
    padding: 1vw 2vw 1vw 2vw;
    margin: 1vh 0vh 0vh 0vh;
    border-radius: 10px;
    transition: background-color 300ms;
  }
  .successButton {
    background-color: #8af82f;
    border: none;
    color: black;
    padding: 1vw 2vw 1vw 2vw;
    margin: 1vh 0vh 0vh 0vh;
    border-radius: 10px;
  }

  .submitButton:hover {
    background-color: #3da5fa;
  }
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
